{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="/">
                <img src="{% static 'assets/img/logo-black.png' %}" alt="footer image" height="150px">
            </a>
            <div class="footer__block">
                <h3 class="footer__block-title">Меню</h3>
                <div class="footer__block-items">
                    <a class="footer__block-item" href="/">Головна</a>
                    <a class="footer__block-item" href="/#products">Продукти</a>
                    <a class="footer__block-item" href="/#location">Локація</a>
                </div>
            </div>
            <div class="footer__block">
                <h3 class="footer__block-title">Контакти</h3>
                 <div class="footer__block-items">
                    <div class="footer__block-item">Адреса: Головний вхід Парку ім. <br>Т.Г Шевченка</div>
                    <div class="footer__block-item">Телефон: <a href="tel:+380 980 578 633">+380 980 578 633</a></div>
                    <div class="footer__block-item">Електронна пошта: <a href="mailto:rent@rentebike.bg">bikerent@gmail.com</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__sub-title">
        <div class="container">
            <div class="footer__sub-title__inner">
                © 2024 Прокат електровелосипедів
            </div>
        </div>
    </div>
</footer>