{% load static %}

<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/">
                <img class="header__image" src="{% static 'assets/img/logo.png' %}" alt="Logo" width="150px">
            </a>
            <nav class="header__nav">
                <a href="/" class="link">Головна</a>
                <a href="/#products" class="link">Продукти</a>
                <a href="/#location" class="link">Локація</a>
            </nav>
        </div>
    </div>
</header>